.divTable {
    display: table;
    width: 100%;
    max-width: 600px;
}

.divTableRow {
    display: table-row;
}
.divTableRow.green {
        background-color: lightgreen;
 }
.divTableRow.yellow {
    background-color: lightgoldenrodyellow;
}
.divTableRow.red {
    background-color: lightpink;
}
.divTableHeading {
    background-color: #EEE;
    display: table-header-group;
}

.divTableCell, .divTableHead {
    border: 1px solid #999999;
    display: table-cell;
    padding: 3px 10px;
}

.divTableHeading {
    background-color: #EEE;
    display: table-header-group;
    font-weight: bold;
}

.divTableFoot {
    background-color: #EEE;
    display: table-footer-group;
    font-weight: bold;
}

.divTableBody {
    display: table-row-group;
}

@media only screen and (max-device-width: 480px) {

}